<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Anroo.MiLight.Cli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Anroo.MiLight.Cli.Properties.Settings>
            <setting name="ThingIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>Udp</value>
            </setting>
            <setting name="IsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Anroo.MiLight.Cli.Properties.Settings>
    </userSettings>
</configuration>
